<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置别名 -->
    <typeAliases>
        <typeAlias type="com.jasshine.jbatis.UserDao" alias="UserDao" />
        <typeAlias type="com.jasshine.jbatis.RoleDto" alias="Roledto" />
    </typeAliases>

    <!-- 配置环境变量 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?characterEncoding=GBK" />
                <property name="username" value="root" />
                <property name="password" value="xxg" />
            </dataSource>
        </environment>
    </environments>

    <!-- 配置mappers -->
    <mappers>
        <mapper resource="UserDao.xml" />
    </mappers>

</configuration>